<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <body>
    <div class="container">
        <h2>Employees</h2>
        <a class="btn btn-primary" href="employees/create">Add Employee</a>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}">1</td>
                    <td th:text="${employee.name}">John Doe</td>
                    <td th:text="${employee.email}">john.doe@example.com</td>
                    <td>
                        <a class="btn btn-secondary" th:href="@{/employees/edit/{id}(id=${employee.id})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/employees/delete/{id}(id=${employee.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
    
